<!-- COMPONENTE NAVBAR UBICADO EN /components -->
<app-navbar></app-navbar>
<div class="w-100 row m-0 p-0 custom-height main bg-light j-content-space-b overflow-hidden">
    <!-- SELECTOR DE EQUIPOS -->
    <div class="col-12 col-sm-auto sidebar animate__animated animate__fadeInLeft">
        <div class="mt-3 card sticky-devices">
            <p class="card-title blue-title p-3">Seleccione equipos</p>
            <div class="card-body" *ngIf="loadingDevices == false && errorDevices == false">
                <ng-container *ngFor="let device of devices; let i = index">
                    <input type="checkbox" [id]="'box-'+i" [name]="'box-'+i" [(ngModel)]="device.status"> 
                    <label [for]="'box-'+i">{{device.nombre}}</label>
                </ng-container>
            </div>
            <div class="card-body text-center"  *ngIf="loadingDevices == true && errorDevices == false">
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                <p class="card-title">Cargando equipos</p>
            </div>
            <div class="card-body text-center"  *ngIf="loadingDevices == false && errorDevices == true">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                <p class="card-title">Unknown error</p>
                <span class="error-message mr-2" (click)="getDevices()"><fa-icon [icon]="faRedoAlt"></fa-icon>Try again</span>
            </div>
        </div>
    </div>
    <!-- GRAFICA DE RENDIMIENTO -->
    <div class="col-12 col-sm pt-3 content">
        <ng-container *ngIf="processedData.length > 0">
            <div class="card mb-3 animate__animated animate__fadeInRight" *ngIf="loadingPower == false && errorPower == false">
                <h5 class="card-title p-3 mb-4 fs-raleway blue-title">Rendimiento de Equipos</h5>
                <div class="card-body pb-2">
                    <lib-highcharts-angular [Highcharts]="Highcharts" [options]="dataChartPower" class="container-chart"></lib-highcharts-angular>
                </div>
            </div>
            <div class="card-body text-center"  *ngIf="loadingPower == true && errorPower == false">
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                <p class="card-title">Obteniendo rendimiento de equipos</p>
            </div>
            <div class="card-body text-center"  *ngIf="loadingPower == false && errorPower == true">
                <fa-icon [icon]="faExclamationTriangle"></fa-icon>
                <p class="card-title">Unknown error</p>
                <span class="error-message mr-2" (click)="getPower()"><fa-icon [icon]="faRedoAlt"></fa-icon>Try again</span>
            </div>
        </ng-container>
        <!-- TABLA DE EVENTOS RECIBIDOS -->
        <ng-container *ngFor="let device of devices">
            <div class="card w-100 mb-3 sidebar animate__animated animate__flipInX" *ngIf="device.status == true">
                <h5 class="card-title blue-title p-3 mb-3">{{device.nombre}}</h5>
                <p class="text-left px-4 mb-4" *ngIf="statusContainer[device.nombre] === undefined">Este equipo no tiene eventos registrados</p>
                <ng-container *ngIf="statusContainer[device.nombre]">
                    <table class="table mb-0 collapse-table-row" *ngIf="statusContainer[device.nombre].length > 0">
                        <thead class="bg-primary">
                            <th scope="col"></th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Status</th>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let stock of statusContainer[device.nombre] | paginate:{id: 'paginate'+device.nombre, itemsPerPage: 5, currentPage:p}">
                                <tr *ngIf="stock.nombre == device.nombre">
                                    <td [ngClass]="formatIcons(stock.status)">
                                        <span class="text-status mr-3 d-none" *ngIf="stock.status == 'OK'">ONLINE</span><fa-icon [icon]="faCheck" *ngIf="stock.status == 'OK'" class="text-green"></fa-icon>
                                        <span class="text-status mr-3 d-none" *ngIf="stock.status == 'OFFLINE'">OFFLINE</span><fa-icon [icon]="faExclamationTriangle" *ngIf="stock.status == 'OFFLINE'" class="text-red"></fa-icon></td>
                                    <td data-label="Equipo">{{stock.nombre}}</td>
                                    <td data-label="Fecha">{{formatDate(stock.date)}}</td>
                                    <td data-label="Status" class="font-weight-bold">{{stock.status}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table> 
                    <div class="w-100 text-center" *ngIf="statusContainer[device.nombre].length > 5">
                        <pagination-controls responsive="true" previousLabel="Anterior" nextLabel="Siguiente"[id]="'paginate'+device.nombre" (pageChange)="p=$event"></pagination-controls>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>  
</div>
